*.o
*.la
*.lo
*.orig
.libs
.deps
.dirstamp*
.ditz-config
.classpath
.project
.cproject
*.swp
*.tmp
*.log
*~
stamp-h*
Doxyfile
Makefile
Makefile.in
autom4te.cache
local_install
local_install-*
config.hxx.in
config.log
config.status
config.h
config.h.in
configure
libtool
biosensor-*.tar.gz
doxydoc
doxydoc.warnings
.configure.ac.swp
.in
.README.swp
.dep.inc
log-*
tmp-out*
tmp
temp
.tmp-animate.sh.swp
.log-1100-animate.sh.swp
.tmp-out12-animate.sh.swp
.tmp-out12-old-02-animate.sh.swp
.Doxyfile.swp
acinclude/ltsugar.m4
acinclude/libtool.m4
acinclude/ltversion.m4
acinclude/lt~obsolete.m4
acinclude/ltoptions.m4
aclocal.m4
admin/config.guess
admin/config.sub
admin/depcomp
admin/install-sh
admin/ltmain.sh
admin/missing
kape1395.biosensor.solver-2D*
src/bio-editor/bio-editor
src/bio-solver/bio-solver
src/libbiosensor-slv-fd/biosensor-slv-fd.hxx
src/libbiosensor/biosensor.hxx
src/libbiosensor-xml/*.cxx
src/libbiosensor-xml/*.hxx
src/bio_ers/ebin/
src/bio_ers/priv/bio_ers_solver_port
src/bio_ers/bio_ers.app
src/bio_ers/bio_ers.rel
src/bio_ers_solver_port/bio_ers_solver_port
